@import "../../globalscss/_variable";

body {
  font-family: $primary-font, $secondary-font, sans-serif;
  background-image: linear-gradient(to right top, $dark-primary-color, $mild-primary-color, $light-primary-color, $secondary-color, $light-seconary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background-color .5s;
}

.App {
  &.overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }
}