$dark-primary-color: #043D93;
$mild-primary-color: #006bbc;
$light-primary-color: #0097d4;
$secondary-color: #00c2dd;
$light-seconary-color: #12EBDC;

$primary-font: 'Lato';
$secondary-font: 'Roboto';

$large-font: 25px;
$medium-font: 20px;
$small-font: 15px;
$smaller-font: 10px;